html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.notion {
  background-color: #EAECEE;
}

.notion-frame{
  background-color: #EAECEE;
}

.notion-page-cover {
  display: none;
}

.notion-nav-header {
  display: none;
}
/* .notion-page-scroller {
  display: none;
} */
.notion-header {
  display: none;
}
.notion-title {
  text-align: center;
  display: none;
  font-size: 36px;
  font-weight: 800;
  margin-bottom: 32px;
}
.otion-page-icon-hero .notion-page-icon-span {
  display: none;
}

.notion-page-content {
  padding: 0;
  /* text-align: center; */
  font-size: larger;
  font-weight: 600;
}

.notion-page-cover {
  display: none;
}

.notion-page-cover-wrapper {
  display: none;
}

.notion-page-icon {
  display: none;
}

.notion-page-icon-hero .notion-page-icon-image {
  display: none;
}

.notion-page-no-cover.notion-page-has-image-icon {
  padding-top: 24px;
}

.notion-page-icon-hero.notion-page-icon-image {
  display: none;
}
.notion-page-no-cover.notion-page-has-image-icon {
  padding-top: 20px !important;
}
.notion-h-title {
  font-size: 36px;
  font-weight: 800;
  margin-bottom: 32px;
}

